<template>
    <div>
      Fractions are under construction
      <div class="container">
        <expression></expression>
      </div>
    </div>
</template>

<script>
  export default {
    data: () => ({}),
    components: {
      expression: () => import('c/fractional_expression.vue')
    }
  }
</script>

<style>
</style>
