<template>
    <div class="fraction" :class="{error}">
      <template v-if="bigNumber">
        {{ bigNumber }}
      </template>
      <math-expression v-model="numerator" @error="handleNumError" :edit="editable"></math-expression>
      <span class="fraction__divider"></span>
      <math-expression v-model="denominator" @error="handleDenError" :edit="editable"></math-expression>
    </div>
</template>

<script>
  import math from 'mathjs'

  import mathExpression from './math_expression.vue'
  export default {
    data: () => ({
      numerator: "",
      num_error: false,
      denominator: "",
      den_error: false,
      expressionError: false,
      expression: "",
      editable: true,
      bigNumber: 0
    }),
    watch: {
      numerator () {
        this.evaluate_expression()
      },
      denominator () {
        this.evaluate_expression()
      },
      value_set () {
        if (!this.editable) {
          this.bigNumber = +this.value_set[0]
          this.numerator = +this.value_set[1]
          this.denominator = +this.value_set[2]
        }
      }
    },
    computed: {
      error () {
        return ( this.den_error || this.num_error ) || this.expressionError
      }
    },
    props: ['value_set'],
    methods: {
      handleNumError (event) {
        this.num_error = event
      },
      handleDenError (event) {
        this.den_error = event
      },
      evaluate_expression () {
        const MathPromise = new Promise ((resolve) => {
          resolve(math.eval(`${this.numerator}/${this.denominator}`))
        })
          .then(result => {
            this.expressionError = false
            this.$emit('input', result)
          })
          .catch(e => {
            this.expressionError = true
            this.$emit('input', true)
          })
        Promise.resolve(MathPromise)
      }
    },
    components: {
      mathExpression
    },
    created () {
      if (typeof this.value_set === 'object') {
        this.editable = false
        this.bigNumber = this.value_set[0]
        this.numerator = this.value_set[1]
        this.denominator = this.value_set[2]
      }
    }
  }
</script>

<style lang="scss">
  .fraction {
    padding: 10px;
    .fraction__divider {
      display: block;
      height: 4px;
      margin: 10px 0;
      background: #5f5f5f;
    }
  }
  .fraction.error {
    border: 1px solid red !important;
  }
</style>
