<template>
    <div class="fractions" :class="{error}">
      <fraction v-model="fractions[key]"
                v-for="(fraction, key) in fractions"
                v-if="key % 2 === 0"
      >

      </fraction>
      <input v-else-if="key % 2 === 1" v-model="fractions[key]" class="fractions__symbol"/>
      <input value="=" disabled class="fractions__symbol"/>
      <fraction :value_set="resultArr"></fraction>
    </div>
</template>

<script>
  import math from 'mathjs'
  import Fraction from 'fraction.js'

  export default {
    data: () => ({
      fractions: [0,'+',0],
      resultArr: ["", "", ""]
    }),
    watch: {
      fractions () {
        this.evaluate_expression()
      }
    },
    computed: {
      error () {
        let error = false
        this.fractions.forEach(fr => {
          if (fr === true) {
            error = true
          }
        })
        return error
      }
    },
    methods: {
      evaluate_expression () {
        const MathPromise = new Promise ((resolve) => {
          resolve(math.eval(this.fractions.join('')))
        })
          .then(result => {
            const fraction = new Fraction(result)
            const fractionString = fraction.toFraction(true)
            const fractionArr = fractionString.split(" ")
            const numbers = fractionArr[fractionArr.length - 1].split("/")
            let bigNumber = 0
            if (fractionArr.length > 1) {
              bigNumber = fractionArr[0]
            }
            this.resultArr = [bigNumber, numbers[0], numbers[1]]
          })
          .catch(e => {})
        Promise.resolve(MathPromise)
      }
    },
    components: {
      fraction: () => import('c/fraction.vue')
    }
  }
</script>

<style lang="scss">
  .fractions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .fractions__symbol {
      font-size: 32px;
      text-align: center;
    }
  }
  .fractions.error {
    border: 1px solid red !important;
  }
</style>
