<template>
    <div>
      <input v-show="isFocused"
             ref="input" type="text"
             @blur="isFocused = false"
             v-model="local_value"
             :class="{error}"
             class="fraction__expression">
      <div v-show="!isFocused" class="fraction__expression" :class="{error}" @click="isFocused = edit">
        {{ local_value || "?" }}
      </div>
    </div>
</template>

<script>
  import math from 'mathjs'

  export default {
    data: () => ({
      local_value: "",
      isFocused: false,
      error: false
    }),
    watch: {
      local_value () {
        this.evaluate_math()
      },
      isFocused (n) {
        if (n) {
          this.$nextTick(function () {
            this.$refs.input.focus()
          })
        }
      },
      value (n) {
        if (n !== this.local_value) {
          this.local_value = n
        }
      }
    },
    methods: {
      evaluate_math () {
        const MathPromise = new Promise ((resolve) => {
          resolve(math.eval(this.local_value))
        })
          .then(result => {
            this.error = false
            this.$emit('error', false)
            this.$emit('input', result)
          })
          .catch(e => {
            this.$emit('error', true)
            this.error = true
          })
        Promise.resolve(MathPromise)
      }
    },
    props: {
      value: {
        type: [String, Number],
        default: ""
      },
      edit: {
        type: Boolean,
        default: true
      }
    },
    beforeMount () {
      this.local_value = this.value
    }
  }
</script>

<style lang="scss">
  .fraction {
    .fraction__expression {
      font-size: 24px;
      text-align: center;
      max-width: 100px;
      input {
        border: 1px solid #5f5f5f;
      }
    }
    .error {
      border: 1px solid red !important;
    }
  }
</style>
